[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        signingkey = GPG_SIGNINGKEY

[credential]
        helper = GIT_CREDENTIAL_HELPER

[gpg]
        program = GPG_PROGRAM

[commit]
        gpgSign = false

[tag]
        gpgSign = false
